{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}DIRA :: Profile Edit{% endblock %}
{% load bootstrap3 %}
{% load bootstrap_toolkit %}

{% block content %}
 
<hr>
<div class="serviceBlock">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <h2>{{ user.username }}'s Profile</h2>
            <hr>
            	<div class="col-md-8">
	                <form method="post" action="" enctype="multipart/form-data">
					  {% csrf_token %}
                      {{ form.media }}
					  {{ form|as_bootstrap }}

                      <hr>
					  <input class="btn  btn-primary" type="submit" value="Save Profile">
					</form>
                    <hr>	
				</div>              
            </div>
           
            </div>
        </div>
    </div>
</div>

{% endblock %}
